.textfield {
-fx-background-color : white;
-fx-background-radius : 20;
-fx-border-color :  linear-gradient(to left, #283c86, #45a247);
-fx-border-radius : 20;
}

.button-filled{
-fx-background-color :  linear-gradient(to left, #283c86, #45a247);
-fx-background-radius : 20;
}

.button-border{
-fx-background-color : white;
-fx-background-radius : 20;
-fx-border-color :  linear-gradient(to left, #283c86, #45a247);
-fx-border-radius : 20;
}

.button-border25 {
-fx-background-color : white;
-fx-background-radius : 25;
-fx-border-color :  linear-gradient(to left, #283c86, #45a247);
-fx-border-radius : 25;
}

.button-selected25{
-fx-font-color : white;
-fx-background-color :  linear-gradient(to left, #283c86, #45a247);
-fx-background-radius : 25;
-fx-border-radius : 25;
}

.combo-box {
-fx-background-color : white;
-fx-background-radius : 20;
-fx-border-color :  linear-gradient(to left, #283c86, #45a247);
-fx-border-radius : 20;
}